@font-face {
  font-family: 'Rockwell';
  src: url("fonts/Rockwell/Rockwell.eot?") format("eot"), url("fonts/Rockwell/Rockwell.woff") format("woff"), url("fonts/Rockwell/Rockwell.ttf") format("truetype"), url("fonts/Rockwell/Rockwell.svg#Rockwell") format("svg");
}

::-webkit-input-placeholder {
  color: #000000;
}

:-moz-placeholder {
  color: #000000;
}

::-moz-placeholder {
  color: #000000;
}

:-ms-input-placeholder {
  color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Rockwell;
  margin: 0;
  padding: 0 0 8px 0;
}

p {
  margin: 0;
  padding: 0 0 8px 0;
  line-height: 120%;
  font-size: 0.9em;
}

h3 {
  font-size: 1.3em;
}

body {
  background-color: #333333;
}

.strip.white {
  background-color: #ffffff;
}
.strip.blue {
  background-color: #00a3e6;
}
.strip.padded {
  padding: 30px 0;
}

.section {
  position: relative;
  margin: 0 20px;
  content: "";
  clear: both;
  display: block;
  overflow: auto;
}
@media (min-width: 960px) {
  .section {
    margin: 0 auto;
    width: 916px;
  }
}

.btn {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 2px 8px;
  font-family: Rockwell;
  color: #0175b9;
}

.header {
  height: 90px;
}

.main-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 0;
  bottom: 10px;
}
.main-navigation li {
  float: left;
  padding-right: 10px;
}
.main-navigation .btn {
  color: #ffffff;
  width: 120px;
  text-align: left;
  font-size: 1.1em;
  padding: 5px;
}
.main-navigation .btn i {
  margin: 0 2px;
}
.main-navigation .btn.blue {
  background-color: #0a80c7;
}
.main-navigation .btn.green {
  background-color: #00ac51;
}
.main-navigation .btn.lime {
  background-color: #bcd631;
}
.main-navigation .btn.pink {
  background-color: #ee4a9a;
}

.carousel {
  overflow: hidden;
}
.carousel #slider {
  margin: 0;
  padding: 0;
  list-style: none;
}
.carousel #slider.animated {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.carousel #slider .slide {
  height: 360px;
  width: 100%;
  float: left;
}
.carousel #slider .slide-0 {
  background: url("../images/img-slide-0.png") top center no-repeat;
}
.carousel #slider .slide-1 {
  background: url("../images/img-slide-1.png") top center no-repeat;
}
.carousel #slider .slide-2 {
  background: url("../images/img-slide-2.png") top center no-repeat;
}
.carousel .control {
  position: absolute;
  top: 50%;
  margin-top: -40px;
  background: white;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
}
.carousel .control a {
  width: 66px;
  height: 66px;
  display: block;
  font-size: 2.20em;
  line-height: 60px;
  color: #0a80c7;
}
.carousel .dots {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 10px;
  text-align: center;
}
.carousel .dots ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 auto;
}
.carousel .dots ul li {
  display: inline-block;
  padding: 0 5px;
}
.carousel .dots ul li span {
  display: block;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.carousel .dots ul li.active span {
  background-color: #0a80c7;
  border: 1px solid #ffffff;
}

.search-form {
  color: #ffffff;
}
.search-form .top-row {
  font-family: Rockwell;
  background-color: #007ac2;
  padding: 10px 0;
}
.search-form .top-row h3 {
  float: left;
  padding-right: 20px;
}
.search-form .top-row .radio-group {
  float: left;
  font-weight: normal;
  font-size: 1.0em;
  margin-top: 5px;
}
.search-form .top-row label {
  padding: 0 25px 0 0;
  width: auto;
  float: left;
  line-height: 110%;
  min-height: auto;
  cursor: pointer;
}
.search-form .top-row input[type="radio"] {
  cursor: pointer;
  margin: 0 10px 0 0;
  float: left;
  position: static;
}
.search-form .bottom-row {
  content: "";
  clear: both;
  display: block;
  overflow: auto;
  padding: 10px 0 15px 0;
}
.search-form .bottom-row .input-group {
  float: left;
  padding-right: 15px;
}
.search-form .bottom-row label {
  display: block;
  font-size: 0.9em;
}
.search-form .bottom-row .form-control {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 4px 7px;
  font-size: 0.8em;
  height: auto;
  border: none;
}
.search-form .bottom-row .park {
  width: 176px;
}
.search-form .bottom-row .date {
  width: 100px;
}
.search-form .bottom-row .duration {
  width: 114px;
}
.search-form .bottom-row .accommodation {
  width: 147px;
}
.search-form .bottom-row .location {
  width: 147px;
}

.article {
  margin-bottom: 1.5%;
}
.article .copy {
  padding: 12px;
}
@media (max-width: 960px) {
  .article img {
    float: left;
  }
  .article .copy {
    margin-left: 220px;
    min-height: 101px;
  }
}
@media (min-width: 960px) {
  .article {
    float: left;
    margin-right: 2.18%;
    width: 23.365%;
  }
  .article:nth-child(4n) {
    margin-right: 0;
  }
  .article img {
    width: 100%;
  }
  .article .copy {
    height: 150px;
    position: relative;
  }
  .article .copy .cta {
    position: absolute;
    bottom: 12px;
    left: 12px;
  }
}
.article .border {
  border: 1px solid #cccccc;
  content: "";
  clear: both;
  display: block;
  overflow: auto;
}
