@font-face {
  font-family: 'Rockwell';
  src: url("fonts/Rockwell/Rockwell.eot?") format("eot"), url("fonts/Rockwell/Rockwell.woff") format("woff"), url("fonts/Rockwell/Rockwell.ttf") format("truetype"), url("fonts/Rockwell/Rockwell.svg#Rockwell") format("svg");
}

::-webkit-input-placeholder {
  color: #000000;
}

:-moz-placeholder {
  color: #000000;
}

::-moz-placeholder {
  color: #000000;
}

:-ms-input-placeholder {
  color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0 0 8px 0;
  font-weight: bold;
}

h1, h2, h3 {
  font-family: Rockwell;
}

p {
  margin: 0;
  padding: 0 0 8px 0;
  line-height: 120%;
  font-size: 0.85em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.2em;
}

body {
  background-color: #333333;
}

.btn {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 2px 8px;
  font-family: Rockwell;
  color: #0175b9;
  background: #f7f7f7;
  background-image: -webkit-linear-gradient(top, #f7f7f7, #f1f1f1);
  background-image: -moz-linear-gradient(top, #f7f7f7, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f7f7f7, #f1f1f1);
  background-image: -o-linear-gradient(top, #f7f7f7, #f1f1f1);
  background-image: linear-gradient(to bottom, #f7f7f7, #f1f1f1);
}

.btn-default {
  border: 1px solid #eaeaea;
}

.form-control {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 7px;
  font-size: 0.85em;
  height: 28px;
  border: none;
  color: #000000;
}
.form-control:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

select {
  -webkit-appearance: none;
  background: url("../images/select-pointer.png") right center no-repeat white !important;
}

.strip.white {
  background-color: #ffffff;
}
.strip.blue {
  background-color: #00a3e6;
}
.strip.dark-blue {
  background-color: #007ac2;
}
.strip.padded {
  padding: 15px 0;
}
@media (min-width: 960px) {
  .strip.padded {
    padding: 30px 0;
  }
}
.strip.grey {
  background-color: #f7f7f7;
}
@media (min-width: 960px) {
  .strip.grey {
    padding: 20px 0;
  }
}

.container {
  position: relative;
  padding: 0 20px;
}
@media (min-width: 960px) {
  .container {
    padding: 0;
    margin: 0 auto;
    width: 916px;
  }
}

.header .row > [class^="col-"],
.header .row > [class^=" col-"] {
  height: 90px;
  position: relative;
}

.main-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.main-navigation li {
  float: left;
  padding-right: 10px;
}
.main-navigation .btn {
  color: #ffffff;
  width: 120px;
  text-align: left;
  font-size: 1.1em;
  padding: 5px;
}
.main-navigation .btn i {
  margin: 0 2px;
}
.main-navigation .btn.blue {
  background: #0a80c7;
}
.main-navigation .btn.green {
  background: #00ac51;
}
.main-navigation .btn.lime {
  background: #bcd631;
}
.main-navigation .btn.pink {
  background: #ee4a9a;
}
@media (max-width: 768px) {
  .main-navigation {
    display: none;
  }
}

.aux-navigation {
  position: absolute;
  top: 10px;
  right: 10px;
}
.aux-navigation .site-search {
  position: relative;
  float: right;
}
.aux-navigation .site-search input {
  background-color: #ededed;
  font-size: 0.8em;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  height: auto;
  width: 78px;
  padding: 3px 40px 3px 10px;
  border: 1px solid transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.aux-navigation .site-search input:focus {
  background-color: #ffffff;
  border: 1px solid #ededed;
  width: 170px;
}
.aux-navigation .site-search i {
  position: absolute;
  top: 4px;
  right: 5px;
  font-size: 1.1em;
  color: #666666;
}
.aux-navigation .aux-links {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
  clear: right;
}
.aux-navigation .aux-links li {
  float: left;
  margin-top: 15px;
  border-left: 1px solid #444444;
  padding-left: 10px;
}
.aux-navigation .aux-links li:nth-child(1) {
  padding: 0 10px 0 0;
  border: none;
}
.aux-navigation .aux-links a {
  text-decoration: none;
  display: block;
  color: #444444;
  font-size: 0.85em;
  line-height: 100%;
}
.aux-navigation .aux-links a:hover {
  color: #000000;
  text-decoration: underline;
}
@media (max-width: 768px) {
  .aux-navigation {
    display: none;
  }
}

.mobile-navigation-button {
  position: absolute;
  bottom: 12px;
  right: 20px;
  font-size: 2.5em;
  display: none;
  color: #444444;
  outline: none;
}
@media (max-width: 768px) {
  .mobile-navigation-button {
    display: block;
  }
}

.carousel {
  overflow: hidden;
}
.carousel #slider {
  margin: 0;
  padding: 0;
  list-style: none;
}
.carousel #slider.animated {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.carousel #slider .slide {
  height: 360px;
  width: 100%;
  float: left;
}
.carousel #slider .slide-0 {
  background: url("../images/img-slide-0.png") top center no-repeat;
}
.carousel #slider .slide-1 {
  background: url("../images/img-slide-1.png") top center no-repeat;
}
.carousel #slider .slide-2 {
  background: url("../images/img-slide-2.png") top center no-repeat;
}
.carousel .control {
  position: absolute;
  top: 50%;
  margin-top: -40px;
  background: white;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
}
.carousel .control a {
  width: 66px;
  height: 66px;
  display: block;
  font-size: 2.20em;
  line-height: 60px;
  color: #0a80c7;
}
.carousel .control a.disabled {
  color: #cccccc;
}
.carousel .dots {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 10px;
  text-align: center;
}
.carousel .dots ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 auto;
}
.carousel .dots ul li {
  display: inline-block;
  padding: 0 5px;
}
.carousel .dots ul li span {
  display: block;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.carousel .dots ul li.active span {
  background-color: #0a80c7;
  border: 1px solid #ffffff;
}

.holiday-search {
  color: #ffffff;
}
.holiday-search .top-row {
  font-family: Rockwell;
  padding: 10px 0;
}
.holiday-search .top-row h3 {
  padding-right: 20px;
}
.holiday-search .top-row .input-group {
  padding-bottom: 3px;
}
.holiday-search .top-row .radio-group {
  float: left;
  font-weight: normal;
  font-size: 1.0em;
  margin-top: 5px;
}
.holiday-search .top-row label {
  padding: 0 25px 0 0;
  width: auto;
  float: left;
  line-height: 110%;
  min-height: auto;
  cursor: pointer;
  margin-top: -2px;
}
.holiday-search .top-row input[type="radio"] {
  cursor: pointer;
  margin: 0 10px 0 0;
  float: left;
  position: static;
}
@media (min-width: 480px) {
  .holiday-search .top-row .input-group {
    float: left;
  }
}
@media (min-width: 960px) {
  .holiday-search .top-row h3 {
    float: left;
  }
}
.holiday-search .bottom-row {
  content: "";
  clear: both;
  display: block;
  overflow: auto;
  padding: 10px 0 5px 0;
}
.holiday-search .bottom-row label {
  display: block;
  font-size: 0.9em;
}
.holiday-search .bottom-row .submit-btn {
  font-weight: bold;
  color: #0175b9;
  padding: 10px 18px;
  border: none;
  margin: 10px 0 10px 0;
}
@media (min-width: 480px) and (max-width: 960px) {
  .holiday-search .bottom-row .submit-btn {
    display: block;
    clear: left;
  }
}
@media (min-width: 960px) {
  .holiday-search .bottom-row .submit-btn {
    margin-top: 11px;
    float: right;
  }
}
.holiday-search .bottom-row .input-group {
  padding-bottom: 10px;
  display: block;
}
.holiday-search .bottom-row .input-group .form-control {
  float: none;
}
.holiday-search .bottom-row .input-group .form-control:last-child {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
@media (min-width: 480px) {
  .holiday-search .bottom-row .input-group {
    float: left;
    padding: 0 15px 10px 0;
    display: table;
  }
  .holiday-search .bottom-row .input-group .form-control {
    float: left;
  }
  .holiday-search .bottom-row .input-group .submit-btn {
    clear: left;
  }
  .holiday-search .bottom-row .input-group .park {
    width: 176px;
  }
  .holiday-search .bottom-row .input-group .date {
    width: 100px;
  }
  .holiday-search .bottom-row .input-group .duration {
    width: 114px;
  }
  .holiday-search .bottom-row .input-group .accommodation {
    width: 147px;
  }
  .holiday-search .bottom-row .input-group .location {
    width: 147px;
  }
}

.newsletter-form {
  max-width: 214px;
  overflow: auto;
}
.newsletter-form input[type='email'] {
  margin-bottom: 8px;
  border: 1px solid #eaeaea;
  background-color: #f7f7f7;
  float: right;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.newsletter-form button {
  float: right;
}
.newsletter-form .disclaimer {
  float: left;
  font-size: 0.75em;
  padding-top: 6px;
}
.newsletter-form .disclaimer a {
  color: #444444;
  text-decoration: underline;
}
.newsletter-form .disclaimer a:hover {
  color: #000000;
  text-decoration: none;
}
@media (min-width: 960px) {
  .newsletter-form {
    padding-right: 12px;
  }
}

.gutter-20 .row {
  margin-right: -10px;
  margin-left: -10px;
}
.gutter-20 > [class^="col-"],
.gutter-20 > [class^=" col-"] {
  padding-right: 10px;
  padding-left: 10px;
}

.row {
  margin-bottom: 1.5%;
  margin: 0 -10px;
}
.row img {
  display: none;
}
.row .copy {
  padding: 0 0 12px 0;
  border-bottom: 1px solid #ededed;
  margin-bottom: 12px;
  background: #ffffff;
}
.row .copy h3 {
  font-size: 1.2em;
}
.row .copy ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.8em;
  line-height: 120%;
}
.row .copy ul li {
  padding-bottom: 15px;
}
.row .copy ul li a {
  color: #444444;
  text-decoration: underline;
}
.row .copy ul li a:hover {
  color: #000000;
  text-decoration: none;
}
.row .copy.longer-copy {
  padding: 15px 20px;
}
.row .copy.longer-copy h3 {
  padding-bottom: 10px;
}
.row .copy.longer-copy img {
  float: none;
  margin-bottom: 15px;
  display: block;
}
@media (max-width: 480px) {
  .row .copy.longer-copy img.article-img {
    width: 100%;
  }
}
.row .copy.longer-copy .news-list li {
  content: "";
  clear: both;
  display: block;
  overflow: auto;
  border-bottom: 1px solid #ededed;
  margin-bottom: 10px;
}
.row .copy.longer-copy .news-list li:nth-last-child(1) {
  border: none;
}
.row .copy.longer-copy .news-list li img {
  float: left;
}
.row .copy.longer-copy .news-list li .details {
  padding-left: 90px;
}
.row .copy.longer-copy .news-list li .details h4 {
  padding-bottom: 5px;
}
.row .copy.longer-copy .news-list li .details p {
  font-size: 1.0em;
  padding-bottom: 5px;
}
.row .copy.longer-copy .news-list li .details p.price {
  font-size: 1.4em;
  font-weight: bold;
}
.row .copy.longer-copy .news-list li .details a {
  color: #0175b9;
  font-size: 1.0em;
  text-decoration: underline;
}
@media (min-width: 768px) and (max-width: 960px) {
  .row img {
    display: block;
    float: left;
  }
  .row .copy {
    padding: 0 0 0 230px;
    min-height: 110px;
    border: none;
  }
  .row .copy h3 {
    padding-bottom: 3px;
  }
  .row .copy.longer-copy {
    padding: 15px 20px;
  }
  .row .copy.longer-copy img {
    float: none;
    margin-bottom: 15px;
  }
}
@media (min-width: 960px) {
  .row img {
    display: block;
  }
  .row .copy {
    padding: 12px 15px;
    height: 150px;
    position: relative;
    border: 1px solid #eaeaea;
    margin-bottom: 30px;
  }
  .row .copy h3 {
    padding-bottom: 3px;
  }
  .row .copy .cta {
    position: absolute;
    bottom: 20px;
    left: 15px;
  }
  .row .copy.longer-copy {
    min-height: 294px;
    margin-bottom: 0;
    padding: 15px;
  }
  .row .copy.longer-copy .article-img {
    margin-bottom: 10px;
  }
  .row .copy.longer-copy h3 {
    padding-bottom: 10px;
  }
}

blockquote {
  border: none;
  background: url(../images/blockquote-open.png) top left no-repeat;
  font-family: Rockwell;
  padding: 12px 0 10px 30px;
  line-height: 120%;
  font-style: italic;
  font-size: 1.2em;
  margin: 0;
  font-weight: bold;
}
blockquote span {
  display: inline-block;
  background: url(../images/blockquote-close.png) bottom right no-repeat;
  width: 23px;
  height: 20px;
  margin: 0 0 -10px 10px;
}
blockquote cite {
  padding-top: 15px;
  font-size: 0.7em;
  font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
  font-style: normal;
  display: block;
  color: #000000;
  font-weight: bold;
}

.caption {
  padding: 12px 0;
  line-height: 130%;
}
.caption .btn {
  margin-left: 30px;
}
@media (min-width: 960px) {
  .caption {
    padding-top: 40px;
  }
}

.footer {
  -moz-box-shadow: inset 0 8px 8px -8px black;
  -webkit-box-shadow: inset 0 8px 8px -8px black;
  box-shadow: inset 0 8px 8px -8px black;
}

#menu a, #menu span {
  font-family: Rockwell;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.1em;
  color: #ffffff;
}
#menu i {
  width: 2.0em;
}
#menu .mm-navbar {
  text-align: right;
  padding: 0 20px;
}
#menu .mm-navbar a {
  font-family: Rockwell;
  color: #cccccc;
}
#menu #mm-2 .mm-title {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
#menu .mm-listview a, #menu .mm-listview span {
  padding: 15px;
}
#menu .mm-listview a.blue, #menu .mm-listview span.blue {
  color: #0a80c7;
}
#menu .mm-listview a.green, #menu .mm-listview span.green {
  color: #00ac51;
}
#menu .mm-listview a.lime, #menu .mm-listview span.lime {
  color: #bcd631;
}
#menu .mm-listview a.pink, #menu .mm-listview span.pink {
  color: #ee4a9a;
}
#menu .mm-listview a.aux, #menu .mm-listview span.aux {
  padding: 15px 25px;
}
#menu .mm-listview form {
  padding: 15px 20px;
}
#menu .mm-listview form input {
  border: none;
  width: 100%;
  margin-bottom: 10px;
}
#menu .mm-listview form input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#menu .mm-listview form button {
  font-family: Rockwell;
  padding: 8px 20px;
  color: #ffffff;
  font-size: 1.2em;
  background-color: #0175b9;
  border: none;
}
